@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropzone {
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 40px 20px 40px 20px;
  color: white; 
  cursor: pointer;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.dropzone.active {
  border-color: #fadc69;
}
